@mixin buttonStyle($margin,$padding,$size,$color) {
  font-size: $size;
  margin: $margin;
  border: 0;
  padding: $padding;
  border-radius: 5px;
  cursor: pointer;
  background-color: $color;
  color: white;
}
