@mixin buttonStyle($margin,$padding,$size,$color) {
  font-size: $size;
  margin: $margin;
  border: 0;
  padding: $padding;
  border-radius: 5px;
  cursor: pointer;
  background-color: $color;
  color: white;
}
@mixin modal() {
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 960px;
  }
}
